![Jumio](images/document_verification.png)

# Transition guide for Document Verification

## 2.8.0
No backward incompatible changes.

## 2.7.0
#### Product re-rebranding
Please note that the Multi Document product has been re-branded to Document Verification. This applies to all public classes, methods and Localizable string keys.

## 2.5.0
No backward incompatible changes.

## 2.4.0
No backward incompatible changes.

## 2.3.1
No backward incompatible changes.

## 2.3.0
No backward incompatible changes.

## 2.2.0
No backward incompatible changes.

## 2.1.0
No backward incompatible changes.
